body {
  background-image: url(./resources/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 
}
#home {
  > .gem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
  gap: 30px;
    
    >img{
      width: 25px;
      height: 25px;
      border: 1px solid white;
      border-radius: 50%;
      padding: 15px;
    }
    >.meta{
      
      text-align: center;
      border-bottom: 1px solid white;
      border-top: 1px solid white;

      >p{
        font-size: 14px;
        
        color: rgb(201, 196, 196);
        letter-spacing: 2px;
      }
    }
  }
}
.tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab button {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #8a8888; 
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 400px;
}

.tabcontent{
  > div {
    display: flex;
    justify-content: space-between;

    > h2{
      letter-spacing: 5px;
      color: white;
      border-bottom: 1px solid white;
      width: auto;
    }
  }
  
  >p{
    color: white;
  }
  >img{
    width: auto;
    height: 400px;
  }
  .xlogo{
    width: 20px;
  }
}

@media (min-width:992px){

}